<ion-view view-title="Radio Pendimi">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-bouncing="true"  class="padding-top padding-bottom padding">

        <div ng-show="channel1">
            <img id="cc_strinfo_trackimageurl_kanali1_main" class="cc_streaminfo nowplaying-thumb"/>
            <div id="status-titulli" style="text-align:center">
                <span style=" padding:8px; border-radius:8px">
                    <i class="fa fa-signal fa-lg"></i>  Jeni duke dëgjuar:  <i class="fa fa-signal fa-lg fa-flip-horizontal"></i>
                </span> 
                <br><br>
                <span id="cc_strinfo_song_kanali1_main" class="cc_streaminfo"></span><br>
            </div>
        </div>
                
        <div ng-show="channel2">    
            <img id="cc_strinfo_trackimageurl_kanali2_main" class="cc_streaminfo nowplaying-thumb"/>
            <div id="status-titulli" style="text-align:center">
                <span style=" padding:8px; border-radius:8px">
                    <i class="fa fa-signal fa-lg"></i>  Jeni duke dëgjuar:  <i class="fa fa-signal fa-lg fa-flip-horizontal"></i>
                </span> 
                    <br><br>
                <span id="cc_strinfo_song_kanali2_main" class="cc_streaminfo"></span><br>
            </div>
        </div>
        
        <div ng-show="defaultCover">
            <img src="img/nocover.png" class="nowplaying-thumb">
            <div id="status-titulli" style="text-align:center">
                <span style=" padding:8px; border-radius:8px">
                    <i class="fa fa-signal fa-lg"></i>  Jeni duke dëgjuar:  <i class="fa fa-signal fa-lg fa-flip-horizontal"></i>
                </span> <br><br>
                <span> Audio playeri është i ndalur shtypni në njërën nga butonat e mëposhtëm për të dëgjuar kanalin e dëshiruar </span>
            </div>
        </div>

             
        <audio src="" id="audio-player"></audio>
        
        <ion-list class="list list-inset" >
            
            <ion-item  class="item item-icon-left" ng-click="play('http://85.93.88.146:8006/stream','1')">
                <i class="icon ion-play"></i>
                <h2 class="padding">Kanali 1 </h2> 
            </ion-item>
                    
            <ion-item  class="item item-icon-left" ng-click="play('http://85.93.88.146:8008/stream','2')">
                <i class="icon ion-play"></i>
                <h2 class="padding">Kanali 2 </h2> 
            </ion-item>
                    
            <ion-item  class="item item-icon-left" ng-click="stop()">
                <i class="icon ion-stop"></i>
                <h2 class="padding">Ndalo transmetimin </h2> 
            </ion-item>
                    
            <ion-item class="item item-icon-left" ng-click="takeScreenshot()">
                <i class="icon ion-share"></i>
                <h2 class="padding"> Shpërndaje</h2> 
            </ion-item>
        </ion-list>
        
    
    </ion-content>
</ion-view>