
<ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>

<ion-content class="has-header">
    <ion-list>
        <ion-item nav-clear menu-close ui-sref="app.home">
            Ballina
        </ion-item>

        <div class="item item-divider">
            Kategorite
        </div>

        <ion-item nav-clear menu-close ui-sref="app.lajme">
            Lajme
        </ion-item>

        <ion-item nav-clear menu-close ui-sref="app.artikuj">
            Artikuj
        </ion-item>

        <ion-item nav-clear menu-close ui-sref="app.emisione"  class="item item-icon-left">
           <i class="icon ion-ios-arrow-forward"></i>Emisione
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.preferences" class="item item-icon-left">
            <i class="icon ion-gear-a"></i>Preferencat
        </ion-item>
    </ion-list>
    
</ion-content>